body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    font-family: "Roboto Condensed" !important;
    background: #17222c !important;
    color: #fff !important;
}

.info{
    text-align: center;
}
.jumbo{
    font-size: 100px;
    text-align: center;
}

#main-canvas{
    /* border: #333 solid 2px; */
    opacity: 0.5;
    position: absolute;
    
}

.screen{
    display: flex;
    flex-direction: row;
}

#main-board{
    position: relative;
    width:100%;
    /* transform: scale(0.5); */
    overflow: scroll;
}

/* .main-board::-webkit-scrollbar {
    -webkit-appearance: none;
} */

#main-img{
    position: absolute;
}

.color-pencil{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px #fff solid;
    pointer-events: none;

}

.c-p-div{
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;
    background: #eee;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.c-p-text{
    pointer-events: none;
    padding: 0px;
    margin: 0px;
}

.pencils{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: #fff 1px solid;
}