<html>

    <head>
        <link rel="stylesheet" href="/css/css_pencil.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="/js/floodfill.min.js"></script>
        


           
           <script type="text/javascript">
                var img_name = "{{data.img_name}}";
                var img_id = "{{data.img_id}}";
                var config = JSON.parse('{{ data.config | tojson | safe}}')[0];
                
                
            </script>
    </head>

    <body>
        
        
                        
        <div class="screen">
                <div id="main-board">
                        <p class="jumbo">commapencil</p>
        
                        <p class="info">Total Images : {{data.total_images}} | Current Image ID : {{data.img_id}} | Current Image Name : {{data.img_name}}</p>
                
                        <img id="main-img" src="/imgs/{{data.img_name}}">
                        <canvas width="1164" height="874" id="main-canvas"></canvas>
                    </div>
                <div id="toolbar">
                        <div class="pencils" id="pencils1">
                            <p>Classes</p>
                        </div>
                        <div class="pencils">
                                <p>Toolbar</p>
                                <button class="btn btn-outline-primary"  id="load">Load Existing Mask</button>
                                <button class="btn btn-outline-warning" id="undo">Undo</button>
                                <button class="btn btn-outline-danger"  id="clear">Clear All</button>
                                <button class="btn btn-outline-success"  id="download">Download</button>
                                <br>
                                <label>Pencil Mode</label>
                                <div style="display:flex;flex-direction: row; align-items: stretch; justify-content: space-around; margin: 10px">
                                        <button class="btn btn-outline-light modes active"  id="brush">Brush</button>
                                        <button class="btn btn-outline-light modes"  id="fill">Flood Fill</button>
                                        
                                </div>
                        </div>
                                <div class="pencils">
                                        <label>Pencil Properties</label>
                                <label>Brush Size : <span id="brush-size">10</span></label>
                                <input type="range" min="1" max="20" value="10" class="slider" id="myRange">
                                <label>Overlay Opacity : <span id="overlay-opacity">0.5</span></label>
                                <input type="range" min="0" max="10" value="5" class="slider" id="myRangeOpacity">
                                <label>Zoom Level : <span id="overlay-zoom">1</span></label>
                                <input type="range" min="1" max="5" value="1" class="slider" id="myRangeZoom">
                                <br>
                            </div>
                            <div class="pencils">
                                <div style="display:flex; justify-content:space-between;margin-top:10px; margin-bottom: 10px;">
                                        <button class="btn btn-outline-light"  id="previous">Previous</button>
                                        <button class="btn btn-outline-light"  id="next">Next</button>
                                     
                                </div>
                                <div>
                                        <div class="input-group mb-3">
                                                <input id="go-to" type="text" class="form-control" placeholder="ID" aria-label="Recipient's username" aria-describedby="button-addon2">
                                                <div class="input-group-append">
                                                  <button class="btn btn-outline-light" type="button" id="go-to-button">Go To Id</button>
                                                </div>
                                              </div>

                                        
                                </div>
                                <button class="btn btn-outline-light"  id="commit">Commit</button>
                                <!-- <button class="btn btn-outline-secondary"  id="erode">Erode</button> -->
                            </div>
                        </div>
                        
                </div>
                
        </div>
        
        
        <script src="/js/js_pencil.js"></script>
    </body>

</html>